<div class="lesson-item">
    <a href="@Url" class="item" aria-label="Navigate to the lesson" target="_blank">
        <i role="img" aria-label="Index" class="icon-container">@Counter</i>
        <div class="details">
            <h3>@Title</h3>
            <p>@Description</p>
        </div>
    </a>
</div>

@code {
    [Parameter] public required string Url { get; set; }
    [Parameter] public int Counter { get; set; }
    [Parameter] public required string Title { get; set; }
    [Parameter] public required string Description { get; set; }
}

<style scoped>
.item {
  margin-top: 2.5rem;
  display: flex;
  position: relative;
  align-items: center;
}

.details {
  flex: 1;
  margin-left: 2rem;
}

.icon-container {


  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-text);
  border: 1px solid var(--color-border);
  background: var(--color-background);
}

i {
  display: flex;
  place-items: center;
  place-content: center;
  width: 32px;
  height: 32px;

  color: var(--color-text);
}


h3 {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--color-heading);
}
</style>