@inject NavigationManager NavigationManager

<button @onclick="GoToGitHub" title="Visit GitHub repository">
    <i>Github</i>
</button>

@code {
    private const string GithubRepoUrl = "https://github.com/r8vnhill/memes2";

    private void GoToGitHub() {
        NavigationManager.NavigateTo(GithubRepoUrl, true);
    }

}