@using ravenhill_blazor.Layout.Bib
@using Ravenhill.Data
@inherits LayoutComponentBase
@inject ThemeService ThemeService

<header>
    <div class="wrapper">
        <SiteTitle Message="Metodologías de Diseño y Programación Avanzadas"/>
        <nav>
            <NavLink href="/" Match="NavLinkMatch.All">Inicio</NavLink>
            <NavLink href="/about">Propósito del curso</NavLink>
            <NavLink href="/syllabus">Temario</NavLink>
            <NavLink href="/notes">Apuntes</NavLink>
        </nav>
    </div>
</header>

<div class="main">
    @Body
</div>

<Bibliography/>
<br>
<footer>
    <div class="button-container">
        <DarkModeToggle/>
        <GithubLink/>
    </div>
    <div class="copyright-container">
        <p>
            <a href="mailto:reachme@ravenhill.cl">© 2024 Ignacio Slater</a>
        </p>
    </div>
</footer>

@code {

    protected override async Task OnInitializedAsync() {
        await ThemeService.InitializeThemeAsync();
    }

}