
body {
    min-height: 100vh;
    color: var(--color-text);
    background-color: var(--color-background);
    line-height: 1.6;
}

.app-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    padding: 1rem 0;
    background-color: var(--color-background-soft);
    text-align: center;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: static; /* Sidebar becomes part of the flow on small screens */
        flex-direction: row; /* Horizontal layout for compact navigation */
        overflow-x: auto; /* Scroll horizontally on small screens */
        padding: 0;
    }

    .sidebar-header {
        display: none; /* Hide header on small screens */
    }

    .sidebar ul {
        display: flex;
    }

    .sidebar li a {
        padding: 10px;
    }
}
.main {
    flex-grow: 1;
    padding: 20px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--color-background-soft);
    border-top: 1px solid var(--color-border);
}

.button-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button-container a, button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background);
    color: var(--color-text);
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s, transform 0.2s;
}

.button-container a:hover, button:hover {
    background-color: var(--color-border-hover);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        position: relative;
    }

    .content-area {
        margin-left: 0;
    }

    .sidebar li a {
        padding: 8px;
    }
}
