<section class="course-description">
    <h1 class="title">@Message?.ToUpper()</h1>
    <p class="description">
        El curso "Metodologías de diseño y programación avanzadas" intensifica las habilidades en diseño y programación
        para enfrentar problemas de software complejos. Enseña programación orientada a objetos avanzada, testing
        exhaustivo, y paradigmas funcionales y genéricos, junto con técnicas de metaprogramación y manejo de colecciones.
        Es una continuación del curso básico de la Universidad de Chile, adecuado para quienes buscan especializarse en
        técnicas avanzadas de programación y diseño de software.
    </p>
</section>

@code {
    [Parameter] public string? Message { get; set; }
}

<style>
.course-description {
  text-align: center;
}

.title {
  font-weight: 500;
  font-size: 2.6rem;
  margin-top: 0;
  margin-bottom: 0.5em;
  color: var(--highlight-color);
}

.description {
  font-size: 1.2rem;
  line-height: 1.6;
}
</style>